body {
    background-color: #f0f0f0;
  }

.form-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.jumbotron {
    background-color: #fff;
    padding: 60px 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
.btn {
    margin-right: 10px;
  }