{% extends "base.html" %}

{% block title %}Minhas senhas{% endblock title %}Minhas senhas
{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <div class="container mt-5">
        <h1 class="mb-4">Minhas senhas</h1>
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addPasswordModal">
            Adicionar Nova Senha
        </button>

        <!-- card de senhas -->
        <div class="row">
            {% for password in passwords %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title">{{ password.site_name }}</h3>
                        <p class="card-text"><strong>User/ Email: </strong>{{ password.username }}<br><strong>Senha: </strong>
                            <span id="senha-{{ password.id }}">*******</span>
                        </p>
                        <form class="d-inline-block" id="formSenha{{ password.id }}">
                            <input type="hidden" name="password_id" value="{{ password.id }}">
                            <input type="text" class="form-control mb-2" name="securityPhrase" placeholder="Frase de Segurança">
                            <button type="button" class="btn btn-primary btn-exibir-senha" data-password-id="{{ password.id }}">Exibir Senha</button>

                            <!-- modal deletar senha -->
                            <div class="modal fade" id="confirmDeleteModal{{ password.id }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel{{ password.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmDeleteModalLabel{{ password.id }}">Confirmar exclusão</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Tem certeza de que deseja excluir esta senha?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <a href="/deletarSenha/{{ password.id }}" class="btn btn-danger">Excluir</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- fim modal deletar senha -->
                            <button type="button" class="btn btn-danger btn-deletar-card" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ password.id }}" data-password-id="{{ password.id }}">Deletar</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        

    <!-- modal nova senha -->
    <div class="modal fade" id="addPasswordModal" tabindex="-1" aria-labelledby="addPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPasswordModalLabel">Adicionar Nova Senha</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/cadastrarSenha" method="POST">
                        <div class="mb-3">
                            <label for="siteName" class="form-label">Nome do Site</label>
                            <input type="text" class="form-control" id="siteName" name="siteName" required>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Nome de Usuário</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="securityPhrase" class="form-label">Frase de Segurança</label>
                            <input type="text" class="form-control" id="securityPhrase" name="securityPhrase" required>
                        </div>
                        <div class="mb-3">
                            <label for="url" class="form-label">url</label>
                            <input type="text" class="form-control" id="url" name="url" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar Senha</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        document.querySelectorAll('.btn-exibir-senha').forEach(btn => {
            btn.addEventListener('click', function() {
                const passwordId = this.getAttribute('data-password-id');
                const securityPhrase = document.querySelector(`#formSenha${passwordId} input[name="securityPhrase"]`).value;

                fetch(`/exibirSenha/${passwordId}`, {
                    method: 'POST',
                    body: new URLSearchParams({securityPhrase}),
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Frase de segurança incorreta');
                    }
                    return response.json();
                })
                .then(data => {
                    document.querySelector(`#senha-${passwordId}`).innerText = data.senha;
                })
                .catch(error => {
                    alert(error.message);
                });
            });
        });
    </script>

{% endblock  %}